.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.article {
  display: none;
}

.navbar {
  padding-top:0px;
  padding-bottom:0px;
  background-color: #e3e6e8;
}

.navbar-expand-sm {
  padding-top:5px;
  padding-bottom:5px;
}
.nav-tabs {
}

.nav-tabs a {
  color: black;
}
.nav-tabs a:hover {
    background-color: #212529;
    color: white;
}
